.panel {
  /* padding: 40px;
    max-width: 60%;
    min-width: 600px; */
  /* min-height: 300px; */
  // background-image: linear-gradient(
  //   to right top,
  //   #82fae6,
  //   #4eebf2,
  //   #0bdafc,
  //   #00c7ff,
  //   #46b1ff,
  //   #68a8ff,
  //   #8b9dff,
  //   #ac8ff9,
  //   #b793f9,
  //   #c098f8,
  //   #c99cf8,
  //   #d2a1f8
  // );
  background-color: rgb(204, 238, 247);
  /* margin: 40px auto 0; */
  border-radius: 20px;
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.1);
  /* width: 500px; */
  /* display: flex; */
  /* justify-content: space-around; */
  h1,
  h2 {
    text-align: center;
    padding-bottom: 10px;
    color:rgb(56, 54, 54);
  }
  
  a{
    margin:15px
  }
}
